<header class="w-full border-b bg-white/80 backdrop-blur supports-[backdrop-filter]:bg-white/60">
  <div class="flex flex-row justify-between h-16 items-center px-6">

    <!-- LEFT -->
    <div class="flex items-center justify-center  gap-2 font-semibold text-lg">
      <app-logo></app-logo>
      <span class=" tracking-tight">TaskFlow</span>
    </div>

    <!-- MIDDLE -->
    <nav class="hidden md:flex items-center md:flex-1 gap-6 text-sm font-medium md:items-center md:justify-center">
<!--      <a routerLink="/dashboard"-->
<!--         class="text-muted-foreground transition-colors hover:text-black">-->
<!--        Dashboard-->
<!--      </a>-->
    </nav>

    <!-- RIGHT -->
    <div class="flex items-center gap-3">
      @if (isAuthenticated) {
        <app-button variant="secondary" size="md" type="button">
          Login
        </app-button>

        <app-button variant="primary" size="md" type="button">
          Register
        </app-button>
      } @else {
        <app-button variant="secondary" size="md" type="button">
          + Add Project
        </app-button>
        <app-button variant="primary" size="md" type="button">
          Logout
        </app-button>

    }
  </div>
</div>
</header>

