@if (project) {
  <div
    class="fixed inset-0 z-50 flex items-center justify-center bg-black/50 backdrop-blur-sm animate-fadeIn"
    (click)="closeModal()"
  >
    <div
      class="relative w-full max-w-lg mx-4 bg-white rounded-2xl shadow-2xl p-6 animate-scaleIn"
      (click)="$event.stopPropagation()"
    >

      <!-- Close button -->
      <button
        class="absolute top-4 right-4 text-gray-400 hover:text-gray-700 transition cursor-pointer"
        (click)="closeModal()"
      >
        ✖
      </button>

      <!-- Header -->
      <div class="mb-4">
        <h2 class="text-2xl font-bold tracking-tight">
          {{ project.name }}
        </h2>

        <!-- Status Badge -->
        <div [ngClass]="project.status | statusColor"  class="shrink-0 mt-2 whitespace-nowrap inline-flex items-center gap-3 px-3 py-1 rounded-full ">
          <span
            [ngClass]="project.status | bulletStatusColor"
            class="w-3 h-3 rounded-full">
          </span>
          <span class="text-xs font-medium">
            {{ project.status }}
          </span>
        </div>
      </div>

      <!-- Divider -->
      <div class="border-t my-4"></div>

      <!-- Content -->
      <p class="text-gray-700 leading-relaxed">
        {{ project.description }}
      </p>

      <!-- Divider -->
      <div class="border-t my-4"></div>

      <!-- Tasks -->
      <div class="mb-4">
        <span class="text-sm font-medium text-gray-700">
            Tasks
          </span>
        <app-task-list [tasks]="project.tasks"></app-task-list>
      </div>

      <!-- Divider -->
      <div class="border-t my-4"></div>

      <!-- Progress Section -->
      <div class="my-4">
        <div class="flex justify-between items-center mb-2">
          <span class="text-sm font-medium text-gray-700">
            Progress
          </span>

          <span class="text-sm font-semibold text-blue-600">
            {{ getProgress() | number:'1.0-0' }}%
          </span>
        </div>

        <div class="w-full bg-gray-200 rounded-full h-3 overflow-hidden">
          <div
            class="h-3 rounded-full bg-blue-600 transition-all duration-300"
            [style.width.%]="getProgress()"
          ></div>
        </div>
      </div>

      <!-- Actions -->
      <div class="flex justify-end gap-3 mt-6 ">
        <app-button
          variant="secondary"
          size="md"
          type="button"
          (click)="closeModal()"
        >
          Close
        </app-button>
      </div>

    </div>
  </div>
}
